.navbar {
  line-height: 1.5 * $line-height-base;
  .nav-item {
    .nav-link.active {
      background-color: theme-color-level("main", 3);
    }
  }
}

//responsive custom newspapers text
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}-newspapers {
      column-count: 2;
      column-gap: $grid-gutter-width;
    }
  }
}

//adding responsive breakpoints to sizing utility
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
      }
    }
  }
}

@mixin headings($from: 1, $to: 6) {
  @for $i from $from through $to {
    h#{$i} {
      @content;
    }
  }
}

@include headings(1, 4) {
  text-transform: uppercase;
}

h1 {
  color: $gray-800;
}

h2 {
  color: $gray-600;
  font-weight: 300;
}

h3 {
  color: theme-color-level("main");
}

.icons {
  list-style: none;
  padding: 0;

  svg {
    cursor: pointer;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: $gray-700;
  background-color: $white;
  border-radius: 1rem;
}

.icon-pdf {
  border-radius: 1rem;
  fill: $white;
  background-color: $gray-700;
}

.badge {
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
  color: $gray-600;
}
.skills-list ul {
  text-transform: uppercase;
  list-style-type: none;
  font-size: 0.75 * $font-size-base;
}

.skills-title {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: $gray-800;
  font-weight: 700;
}
.company-profile {
  font-size: 0.9rem;
}
.start-end-date {
  font-size: 1rem;
}

@include media-breakpoint-up(lg) {
  .skills-badge {
    transform: rotate(90deg);
    min-width: 7.5rem;
  }
  .badge {
    width: 100%;
    border: 1px dashed $gray-600;
  }

  .alternate-odd {
    background: theme-color-level("side", 0.9);
  }
}

@include media-breakpoint-down(md) {
  .profile-pic,
  .icons {
    max-width: 200px;
    margin: auto;
    display: block;
  }

  .main-row {
    background-color: $white;
  }
  #skills {
    background-color: $white !important;
  }
  .skills-list ul {
    font-size: 1rem;
    line-height: 1.8;
  }

  .badge {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 6px;
  }
}
