@import "custom_variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "custom_styles.scss";

$xl: map-get($grid-breakpoints, "xl");
$lg: map-get($grid-breakpoints, "lg");

:export {
  xl: $xl;
}
:export {
  lg: $lg;
}
